{%extends 'base.html'%}
{%block head%}
<style>
    table th {
        text-align: center;
    }
</style>
{%endblock head%}

{%block body%}
<table align = "center" id="" class="table table-bordered table-hover table-striped">
    <thead>
    <th colspan="8" style="background:#E3E3E3;">
        <h4 style="background:#E3E3E3; text-align:center; font-weight:bold"><font size="5">端口详情</font></h4>
    </th>
    <tr>
        <th><font size="4">所有端口</font></th>
        <th><font size="4">端口状态</font></th>
    </tr>
    </thead>
    <tbody>
    {%for key,value in dict.items %}
    <tr>
        <td align="center"><font size="4">{{key}}</font></td>
        <tdalign="center"><font size="4">{{value}}</font></td>
    </tr>
    {%endfor%}
    </tbody>
</table>

{%endblock body%}


